.content-editable {
  background: #f8f8f8;
  box-shadow: 20px 20px 60px rgba(133, 130, 137, 0.25),
    -20px -20px 60px rgba(211, 201, 201, 0.15);
  border-radius: 50px;
  color: $brand-text;
  width: 80%;
  padding: 15px 5px 5px 20px;
  height: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.call-button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #4064d1;
  margin-right: 10px;

  &:hover {
    cursor: pointer;
  }
}

.emoji-button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  color: #4064d1;
  margin-left: 10px;

  &:hover {
    cursor: pointer;
  }
}

.message-button {
  width: 50px;
  height: 50px;
  font-size: 22px;
  color: #4064d1;

  &:hover {
    cursor: pointer;
  }
}
