.message {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  border-radius: 4px;
  min-height: 66px;
  max-width: 47%;
  margin: 10px 0px 10px 0px;
  padding: 20px 30px 10px 20px;

  .message-footer-container {
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;

    .actions-container {
      position: absolute;
      right: 0;
      bottom: 0;
      transition: all 0.1s ease;
      width: 0px;
      height: 0px;

      &.active {
        width: 28px;
        height: 28px;
      }
    }
  }

  &.left {
    align-self: flex-start;
    background: $brand-default;
    background: #f8f8f8;
    box-shadow: 20px 20px 40px rgba(133, 130, 137, 0.25);
    border-radius: 50px 50px 50px 0px;

    .message-footer-container {
      .actions-container {
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          $brand-default 50%
        );
      }
    }
  }

  &.right {
    align-self: flex-end;
    background: #4064d1;
    box-shadow: 20px 20px 40px rgba(133, 130, 137, 0.25);
    border-radius: 50px 50px 0px 50px;

    .message-footer-container {
      .actions-container {
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          $brand-primary 50%
        );
      }
    }
  }

  &:hover {
    .message-footer-container {
      .actions-container {
        width: 28px;
        height: 28px;
      }
    }
  }
}
